[submodule "SummerResearch2020/SpikeInterface/spikeinterface"]
	path = SummerResearch2020/SpikeInterface/spikeinterface
	url = https://github.com/SpikeInterface/spikeextractors.git
[submodule "spikeinterface"]
	path = spikeinterface
	url = https://github.com/SpikeInterface/spikeinterface
[submodule "spikeForest"]
	path = spikeForest
	url = https://github.com/flatironinstitute/spike-front
[submodule "spikeforest2"]
	path = spikeforest2
	url = https://github.com/flatironinstitute/spikeforest2
[submodule "spikeForestTool"]
	path = spikeForestTool
	url = https://github.com/flatironinstitute/spikeforest2
